.block-tecnical {
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    min-height: 300px;
    // .block-tecnical__body

    &__body {
        border-radius: 10px;
        max-width: 364px;
        width: 100%;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        padding: 14px 27px 30px 10px;
        position: relative;
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 0px 0px 20px 0px;
        @media (max-width: 768px) {
            padding: 10px 20px 32px 10px;
            background: rgba(0, 0, 0, 0.2);
            margin: 0px 0px 10px 0px;
        }
        &::after {
            content: "";
            position: absolute;
            left: 14px;
            bottom: 10px;
            height: 1px;
            width: 64.4%;
            background: rgba(255, 255, 255, 0.1);
            @media (max-width: 768px) {
                bottom: 18px;
                left: 10px;
            }
        }
        .btn {
            margin: 7px 0px 0px 0px;
        }
    }

    // .block-tecnical__text

    &__text {
        flex: 0 1 250px;
        display: flex;
        gap: 6px;
        @media (max-width: 768px) {
            gap: 3px;
        }
        p {
            margin: 7px 0px 0px 0px;
            font-weight: 700;
            font-size: 13px;
            line-height: 120%;
            text-transform: uppercase;
            color: #fff;
        }
    }

    // .block-tecnical__icon

    &__icon {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 19px;
            height: 19px;
            font-weight: 400;
            font-size: 10px;
            text-transform: uppercase;
            color: #a27f6f;
            border-radius: 50%;
            background: #f6f6f5;
            svg {
                fill: #a27f6f;
            }
        }
    }
}

//========================================================================================================================================================

.block-policy {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 298px 0px 100px 0px;
    min-height: 300px;
    min-height: 100vh;
    @media (max-width: 992px) {
        padding: 134px 0px 50px 0px;
    }
    @media (max-width: 768px) {
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
    }
    // .block-policy__content

    &__content {
        max-width: 999px;
        margin: 0 auto;
        width: 100%;
        padding: 0px 19px;
    }

    // .block-policy__body

    &__body {
        border-radius: 10px;
        padding: 28px 42px 50px 42px;
        backdrop-filter: blur(50px);
        background: rgba(0, 0, 0, 0.2);
        @media (max-width: 768px) {
            padding: 30px 30px 50px 10px;
        }
    }
}
.block-policy-spollers {
    // .block-policy-spollers__item

    &__item {
        display: flex;
        flex-direction: column;
        padding: 17.5px 0px 0px 0px;
        &:first-child {
            padding: 3px 0px 0px 0px;
            @media (max-width: 768px) {
                padding: 0px 0px 0px 0px;
            }
        }
        &::after {
            content: "";
            width: 255px;
            height: 1px;
            margin: 19px 48px 0px 48px;
            background: rgba(255, 255, 255, 0.25);
            @media (max-width: 768px) {
                margin: 19px 40px 0px 45px;
            }
            @media (max-width: 390px) {
                width: calc(100% - 40px);
            }
        }
    }

    // .block-policy-spollers__button

    &__button {
        display: flex;
        align-items: center;
        gap: 67px;
        @media (max-width: 768px) {
            gap: 26px;
        }
        &._spoller-active {
            .arrow {
                svg {
                    margin: -2px 0px 0px 0px;
                    transform: rotate(-180deg);
                }
            }
        }
    }

    // .block-policy-spollers__title

    &__title {
        text-align: left;
        font-weight: 400;
        font-size: 15px;
        color: #fff;
        line-height: 110%;
    }

    // .block-policy-spollers__body

    &__body {
    }

    // .block-policy-spollers__text

    &__text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 0px 0px 88px;
        @media (max-width: 768px) {
            padding: 20px 0px 0px 47px;
        }
        p {
            max-width: 391px;
            font-weight: 400;
            font-size: 12px;
            line-height: 110%;
            color: #f6f6f5;
            a {
                transition: opacity 0.3s;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}

//========================================================================================================================================================

.block-text {
    overflow: hidden;
    padding: 391px 40px 87px 0px;
    @media (max-width: 992px) {
        padding: 283px 20px 33px 0px;
    }
    @media (max-width: 390px) {
        padding: 150px 10px 33px 0px;
    }

    &.block-text2 {
        padding: 82px 0px 207px 0px;
        @media (max-width: 992px) {
            padding: 122px 0px 121px 0px;
        }
        .block-text__content {
            max-width: 538px;
            gap: 25px;
            @media (max-width: 768px) {
                max-width: 315px;
                gap: 12px;
            }
        }
        p {
            max-width: 465px;
            font-size: 20px;
            @media (max-width: 768px) {
                font-size: 15px;
                line-height: 113%;
                max-width: 100%;
            }
        }
    }
    // .block-text__content

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 7px;
        max-width: 464px;
        margin-left: auto;
        @media (max-width: 768px) {
            gap: 0px;
        }
        p {
            font-weight: 700;
            font-size: 18px;
            line-height: 110%;
            text-transform: uppercase;
            text-align: right;
            color: #fff;
            @media (max-width: 768px) {
                font-size: 12px;
            }
        }
    }
}

//========================================================================================================================================================

.block-section {
    overflow: hidden;
    @media (max-width: 992px) {
        overflow: visible;
    }
    &.block-section2,
    &.block-section-last {
        .block-section__content {
            align-items: start;
        }
        .block-section__body {
            height: 100%;
            margin: 0px 5px 0px 0px;
        }
        .block-section-menu {
            min-height: fit-content;
            height: 184px;
            margin: 117px 0px 14px 0px;
            @media (max-width: 768px) {
                margin: 0px 0px 0px 0px;
                height: fit-content;
            }
            &::before {
                content: "";
                top: 117px;
                height: 184px;
                @media (max-width: 768px) {
                    top: 0;
                    height: 169px;
                }
            }
        }
        .block-section-menu {
            ul {
                li {
                    justify-content: start;
                }
            }
        }
        .block-section-menu__button {
            text-align: left;
            display: flex;
            flex-direction: column;
            span {
                font-weight: 400;
                font-size: 12px;
                text-transform: uppercase;
                color: #fff;
                line-height: 110%;
            }
        }
        .card-section {
            cursor: default;
        }
    }
    &.block-section2 {
        padding-top: 400px;
        position: relative;
        z-index: 15;
        @media (max-width: 992px) {
            padding-top: 283px;
        }
        @media (max-width: 390px) {
            padding-top: 150px;
        }
    }
    &.block-section-last {
        position: relative;
        z-index: 15;
        padding-bottom: 149px;
        @media (max-width: 992px) {
            padding-bottom: 92px;
        }
        @media (max-width: 390px) {
            padding-bottom: 33px;
        }
        .block-section-menu {
            &::before {
                content: "";
                display: none;
            }
        }
    }
    &.block-partners {
        position: relative;
        z-index: 15;
        padding-bottom: 149px;
        @media (max-width: 992px) {
            padding-bottom: 92px;
        }
        @media (max-width: 390px) {
            padding-bottom: 33px;
        }
        .card-section.card-section-last-bg .card-section__body {
            padding: 7px 18px 16px 34px;
            @media (max-width: 768px) {
                padding: 7px 17px 16px 14px;
            }
            @media (max-width: 550px) {
                padding: 7px 18px 16px 18px;
            }
        }
    }
    // .block-section__content

    &__content {
        position: relative;
        display: flex;
        align-items: flex-end;
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: start;
        }
    }

    // .block-section__body

    &__body {
        flex: 1 1 auto;
        height: 327px;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        background: rgba(29, 29, 29, 0.2);
        margin: 0px 5px 0px 0px;
        @media (max-width: 768px) {
            width: 100%;
            margin: 0px 0px 0px 0px;
            height: 422px;
            .simplebar-track {
                display: none;
            }
        }
    }

    // .block-section__cards

    &__cards {
        width: 100%;
        display: none;
        flex-direction: column;
        padding: 4px 5px 70px 26px;
        &.active {
            display: flex;
        }
        @media (max-width: 768px) {
            padding: 4px 5px;
        }
        @media (max-width: 550px) {
            padding: 6px 0px 6px 0px;
        }
    }
}
.block-section-menu {
    flex: 0 0 255px;
    margin: 98px 0px 14px 0px;
    border-radius: 10px;
    padding: 45px 50px 46px 50px;
    min-height: 207px;
    @media (max-width: 768px) {
        flex: 0 1 auto;
        position: relative;
        width: 100%;
        margin: 0px 0px 0px 0px;
        min-height: fit-content;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: flex-end;
        padding-top: 10px;
        padding-right: 22px;
        padding-left: 20px;
        padding-bottom: 8px;
        transition:
            margin-top 0.3s,
            padding-top 0.3s;
    }
    &.active {
        padding-top: 14px;
        margin-top: -40px;
        .arrow {
            svg {
                margin: 0px 0px -2px 0px;
                transform: rotate(0deg);
            }
        }
    }
    &::before {
        content: "";
        border-radius: 10px;
        position: absolute;
        top: 98px;
        left: 0;
        width: 100%;
        height: calc(100% - 108px);
        backdrop-filter: blur(20px);
        background: rgba(0, 0, 0, 0.5);
        @media (max-width: 768px) {
            top: 0;
            background: rgba(0, 0, 0, 0.3);
            left: 0;
            height: 169px;
        }
    }
    .arrow {
        position: relative;
        z-index: 10;
        display: none;
        svg {
            transition: transform 0.3s;
            transform: rotate(-180deg);
            margin: -2px 0px 0px 0px;
        }
        @media (max-width: 768px) {
            display: flex;
        }
    }
    ul {
        position: relative;
        z-index: 10;
        li {
            display: flex;
            justify-content: center;
            @media (max-width: 768px) {
                justify-content: start;
            }
        }
    }
    // .block-section-menu__button

    &__button {
        font-weight: 700;
        font-size: 17px;
        line-height: 110%;
        text-transform: uppercase;
        text-align: center;
        color: rgba(255, 255, 255, 0.15);
        &.active {
            color: #fff;
        }
        @media (max-width: 768px) {
            text-align: left;
        }
    }
}
.card-section {
    min-width: 0;
    display: grid;
    gap: 13px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3px 5px 3px 8px;
    position: relative;
    cursor: pointer;
    @media (max-width: 550px) {
        grid-template-columns: 1fr;
        gap: 0px;
        padding: 4px 19px 6px 19px;
    }
    &:hover {
        .card-section__image {
            img {
                transform: scale(1.03);
            }
        }
    }
    &::after {
        content: "";
        position: absolute;
        left: 8px;
        bottom: 0px;
        width: 74%;
        height: 1px;
        background: rgba(255, 255, 255, 0.1);
        @media (max-width: 550px) {
            left: 19px;
            width: 70%;
        }
    }
    &:last-child {
        &::after {
            content: "";
            display: none;
        }
    }
    &.card-section-last {
        padding: 10px 0px 10px 0px;
        @media (max-width: 550px) {
            padding: 19px 10px 13px 10px;
        }
        .card-section__body {
            border-radius: 10px;
            backdrop-filter: blur(80px);
            background: rgba(0, 0, 0, 0.2);
            padding: 7px 15px 8px 20px;
            margin: 0px 0px 0px 0px;
            width: calc(100% + 16px);
            @media (max-width: 768px) {
                padding: 7px 15px 8px 8px;
                width: calc(100% + 5px);
                margin: 0px 0px 0px 0px;
            }
            @media (max-width: 550px) {
                gap: 22px;
            }
            @media (max-width: 550px) {
                width: 100%;
                padding: 7px 10px 8px 17px;
            }
        }
    }
    &.card-section-last-bg {
        margin: 10px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        @media (max-width: 768px) {
            margin: 14px 0px 0px 0px;
        }
        .card-section__body {
            background: #58093b;
            margin: 0px 0px 0px 0px;
            padding: 7px 15px 16px 34px;
            @media (max-width: 768px) {
                padding: 7px 15px 16px 14px;
            }
            @media (max-width: 550px) {
                padding: 7px 15px 16px 16px;
            }
        }
    }
    &.card-section-academy {
        .card-section__body {
            padding: 14px 0px 15px 0px;
            gap: 74px;
            @media (max-width: 550px) {
                padding: 8px 0px 15px 0px;
                gap: 75px;
            }
        }
        .card-section__top {
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
        }
        .card-section__title {
            @media (max-width: 550px) {
                font-size: 18px;
            }
        }
        .card-section__bottom {
            p {
                @media (max-width: 550px) {
                    font-size: 12px;
                }
            }
        }
    }
    &.card-section-other {
        margin: 4px 0px 4px 0px;
        padding: 12px 5px 12px 8px;
        @media (max-width: 768px) {
            padding: 8px 5px 8px 8px;
        }
        .card-section__images,
        .card-section__image {
            margin: 0px -15px;
            height: 198px;
            @media (max-width: 992px) {
                height: 100%;
            }
        }
        .card-section__body {
            padding: 19px 14px 1px 0px;
        }
    }
    &.card-section-other2 {
        .card-section__top {
            p {
                font-size: 15px;
            }
        }
    }

    // .card-section__bg

    &__bg {
        position: absolute;
        top: 0;
        left: -38px;
        width: calc(100% + 56px);
        height: 100%;
        backdrop-filter: blur(80px);
        background: linear-gradient(160deg, #3a0627 0%, #a0116c 100%);
        border-radius: 10px;
        @media (max-width: 768px) {
            left: -12px;
            width: calc(100% + 29px);
        }
    }

    // .card-section__icon

    &__icon {
        margin: -1px -5px 0px 0px;
        flex: 0 0 24px;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 550px) {
            margin: 0px 0px 0px 0px;
        }
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 19px;
            height: 19px;
            font-weight: 400;
            font-size: 10px;
            text-transform: uppercase;
            color: #1e1e1e;
            border-radius: 50%;
            background: #f6f6f5;
            svg {
                fill: #1e1e1e;
            }
        }
    }

    // .card-section__body

    &__body {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        justify-content: space-between;
        padding: 19px 14px 15px 0px;
        gap: 24px;
        @media (max-width: 550px) {
            padding: 7px 0px 0px 0px;
            order: 2;
            gap: 17px;
        }
    }

    // .card-section__top

    &__top {
        display: flex;
        flex-direction: column;
        gap: 3px;
        @media (max-width: 550px) {
            gap: 0px;
        }
        &.top-titles {
            gap: 6px;
        }
        p {
            font-weight: 400;
            font-size: 12px;
            line-height: 110%;
            text-transform: uppercase;
            color: #fff;
            @media (max-width: 550px) {
                font-size: 10px;
            }
        }
    }

    // .card-section__text

    &__text {
        white-space: nowrap;
        font-weight: 700;
        font-size: 12px;
        line-height: 100%;
        text-transform: uppercase;
        color: #fff;
    }

    // .card-section__titles

    &__titles {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 10px;
    }

    // .card-section__title

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 110%;
        text-transform: uppercase;
        color: #fff;
        @media (max-width: 550px) {
            font-size: 15px;
        }
    }

    // .card-section__bottom

    &__bottom {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        p {
            display: flex;
            flex-direction: column;
            font-weight: 400;
            font-size: 12px;
            text-transform: uppercase;
            color: #fff;
            line-height: 110%;
            span {
                font-weight: 400;
                font-size: 10px;
                line-height: 115%;
            }
            @media (max-width: 550px) {
                font-size: 10px;
            }
        }
        .arrow {
            flex: 0 0 26px;
            width: 26px;
            height: 26px;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 20;
            }
            svg {
                stroke-width: 1px;
                margin: 0px -3px 0px 0px;
                transform: rotate(-90deg);
            }
            @media (max-width: 550px) {
                margin: -2px 5px 0px 0px;
            }
        }
    }

    // .card-section__image

    &__image {
        position: relative;
        z-index: 10;
        pointer-events: none;
        display: flex;
        overflow: hidden;
        @media (max-width: 550px) {
            order: 1;
        }
        img {
            transition: transform 0.5s;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    // .card-section__slides
    &__slides {
        display: none;
        @media (max-width: 992px) {
            min-width: 0;
            display: flex;
        }
    }
    // .card-section__slider
    &__slider {
        min-width: 0;
        @media (max-width: 992px) {
            position: relative;
        }
    }
    // .card-section__wrapper
    &__wrapper {
    }
    // .card-section__slide
    &__slide {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    // .card-section__images
    &__images {
        cursor: pointer;
        display: flex;
        z-index: 10;
        position: relative;
        height: 189px;
        overflow: hidden;
        @media (max-width: 992px) {
            height: 170px;
        }
        @media (max-width: 768px) {
            height: 100%;
            min-width: 0;
        }
        @media (max-width: 550px) {
            order: 1;
        }
    }
    // .card-section__tabs
    &__tabs {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        display: block;
        left: 0;
        @media (max-width: 992px) {
            display: none;
        }
        img {
            transition: opacity 0.2s ease-in-out;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border: 0;
            vertical-align: middle;
            max-height: 100%;
            height: 100%;
            width: 100%;
            object-fit: cover;
            pointer-events: none;
            opacity: 0;
        }
    }
    // .card-section__items
    &__items {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        z-index: 2;
    }
    // .card-section__item
    &__item {
        flex-grow: 1;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        background-color: #fff;
        background: 0 0;
        margin: 0px 2px;
        &.active {
            img {
                opacity: 1;
            }
        }
    }
}
.card-section-image {
    overflow: hidden;
    margin: -30px 0px -30px 0px;
    @media (max-width: 768px) {
        margin: -20px 0px -20px 0px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

//========================================================================================================================================================

.block-club {
    position: relative;
    overflow: hidden;
    padding: 167px 0px 184px 0px;
    @media (max-width: 992px) {
        padding: 125px 0px 55px 0px;
    }
    .container {
        max-width: 1112px;
    }
    // .block-club__logo

    &__logo {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0px);
        max-width: 1509px;
        width: 100%;
        height: auto;
    }

    // .block-club__content

    &__content {
    }

    // .block-club__top

    &__top {
        border-radius: 10px;
        backdrop-filter: blur(80px);
        position: relative;
        background: rgba(0, 0, 0, 0.2);
        min-height: 207px;
        padding: 14px 22px 80px 22px;
        margin: 0px 55px 0px 55px;
        @media (max-width: 1100px) {
            margin: 0px 19px;
            padding: 16px 22px 80px 15px;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: blur(4px);
        }
        &::after {
            content: "";
            position: absolute;
            z-index: 10;
            left: 22px;
            bottom: 80px;
            background: rgba(255, 255, 255, 0.3);
            height: 1px;
            width: 497px;
            @media (max-width: 768px) {
                width: 246px;
                left: 0;
                top: 64px;
                bottom: auto;
            }
            @media (max-width: 380px) {
                width: 200px;
            }
        }
    }

    // .block-club__slider

    &__slider {
        width: 100%;
        margin: -80px 0px 0px 0px;
        @media (max-width: 1112px) {
            margin: -80px -19px 0px -19px;
            width: calc(100% + 38px);
            padding: 0px 19px;
        }
        @media (max-width: 1100px) {
            margin: -80px -19px 0px -19px;
        }
        @media (max-width: 768px) {
            margin: -148px -19px 0px -19px;
        }
    }

    // .block-club__wrapper

    &__wrapper {
    }

    // .block-club__slide

    &__slide {
        flex: 0 0 370px;
        width: 370px;
        margin: 22px 0px 0px 0px;
        backdrop-filter: blur(80px);
        background: rgba(29, 29, 29, 0.4);
        border-radius: 10px;
        position: relative;
        z-index: 22;
        min-height: 150px;
        display: flex;
        height: auto;
        @media (max-width: 768px) {
            flex: 0 0 294px;
            width: 294px;
            min-height: 128px;
        }
        @media (max-width: 380px) {
            flex: 0 0 274px;
            width: 274px;
        }
        &::after {
            content: "";
            position: absolute;
            z-index: 10;
            bottom: 0;
            left: 18px;
            background: rgba(255, 255, 255, 0.8);
            height: 1px;
            width: 259px;
            @media (max-width: 768px) {
                width: 212px;
            }
        }
    }

    // .block-club__items

    &__items {
    }

    // .block-club__pic

    &__pic {
        position: absolute;
        right: 0;
        top: -22px;
        width: 56px;
        height: auto;
        @media (max-width: 768px) {
            right: 14px;
        }
        @media (max-width: 380px) {
            right: 0;
        }
    }

    // .block-club__item

    &__item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 260px;
        padding: 16px 10px 18px 22px;
        @media (max-width: 768px) {
            gap: 6px;
            max-width: 100%;
        }
        p {
            font-weight: 400;
            font-size: 12px;
            line-height: 110%;
            text-transform: uppercase;
            color: #fff;
        }
    }

    // .block-club__title

    &__title {
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
        line-height: 110%;
        @media (max-width: 768px) {
            font-size: 15px;
            padding: 0px 30px 0px 0px;
        }
    }
}

//========================================================================================================================================================

.block-video {
    display: flex;
    overflow: hidden;
    video {
        width: 100%;
        min-height: 286px;
        height: 100%;
        object-fit: cover;
        &.desc {
            @media (max-width: 768px) {
                display: none;
            }
        }
        &.mob {
            display: none;
            @media (max-width: 768px) {
                display: block;
            }
        }
    }
}

//========================================================================================================================================================

.block-reviews {
    overflow: hidden;
    padding: 137px 0px 216px 0px;
    @media (max-width: 992px) {
        padding: 125px 0px;
    }
    .container {
        max-width: 1112px;
    }
    .title2 {
        padding: 0px 0px 0px 25px;
        @media (max-width: 768px) {
            padding: 0px 0px 0px 18px;
        }
    }
    // .block-reviews__content

    &__content {
        display: flex;
        flex-direction: column;
        gap: 41px;
        @media (max-width: 768px) {
            gap: 27px;
        }
    }

    // .block-reviews__body

    &__body {
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        padding: 14px 16px 21px 16px;
        min-width: 0;
        @media (max-width: 768px) {
            padding: 14px 18px 32px 18px;
        }
        @media (max-width: 385px) {
            padding: 14px 10px 32px 10px;
        }
    }

    // .block-reviews__slider

    &__slider {
        min-width: 0;
        overflow: visible;
    }

    // .block-reviews__wrapper

    &__wrapper {
    }

    // .block-reviews__slide

    &__slide {
        flex: 0 0 338px;
        width: 338px;
        display: flex;
        flex-direction: column;
        @media (max-width: 768px) {
            flex: 0 0 296px;
            width: 296px;
        }
        @media (max-width: 385px) {
            flex: 0 0 246px;
            width: 246px;
        }
    }

    // .block-reviews__image

    &__image {
        display: flex;
        flex-direction: column;
        &::after {
            content: "";
            height: 1px;
            width: 241px;
            background: rgba(255, 255, 255, 0.8);
        }
        img {
            width: 100%;
            height: 212px;
            object-fit: cover;
            @media (max-width: 768px) {
                max-height: 185px;
            }
            @media (max-width: 385px) {
                max-height: 160px;
            }
        }
    }

    // .block-reviews__item

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 21px 60px 0px 17px;
        @media (max-width: 768px) {
            gap: 14px;
            padding: 11px 22px 0px 10px;
        }
        @media (max-width: 385px) {
            padding: 16px 22px 0px 10px;
        }
        p {
            display: flex;
            flex-direction: column;
            font-weight: 700;
            font-size: 10px;
            line-height: 110%;
            text-transform: uppercase;
            color: #fff;
            span {
                font-size: 13px;
                @media (max-width: 768px) {
                    font-size: 12px;
                }
            }
        }
    }

    // .block-reviews__pic1

    &__pic1 {
        position: absolute;
        top: -5px;
        right: 4px;
        width: 30px;
        height: auto;
        @media (max-width: 768px) {
            top: -10px;
            right: 12px;
        }
        @media (max-width: 385px) {
            right: 5px;
            top: -15px;
        }
    }

    // .block-reviews__title

    &__title {
        font-weight: 700;
        font-size: 15px;
        line-height: 110%;
        text-transform: uppercase;
        color: #fff;
        @media (max-width: 768px) {
            font-size: 13px;
        }
    }
}

//========================================================================================================================================================

.block-founder {
    padding: 0px 0px 212px 0px;
    @media (max-width: 992px) {
        padding: 0px 0px 106px 0px;
    }
    .container {
        max-width: 1112px;
    }
    // .block-founder__content

    &__content {
        display: flex;
        gap: 20px;
        @media (max-width: 992px) {
            flex-direction: column;
        }
    }

    // .block-founder__left

    &__left {
        position: relative;
        flex: 0 1 626px;
        padding: 0px 0px 0px 36px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        @media (max-width: 992px) {
            flex: 0 1 auto;
            justify-content: flex-end;
            padding: 0px 19px 0px 58px;
        }
    }

    // .block-founder__title

    &__title {
        position: relative;
        z-index: 20;
        font-weight: 700;
        font-size: 34px;
        line-height: 110%;
        text-transform: uppercase;
        color: #fff;
        max-width: 400px;
        margin: 280px -202px 0px 0px;
        @media (max-width: 992px) {
            position: absolute;
            bottom: 26%;
            left: 17px;
            margin: 0px 0px 0px 0px;
        }
        @media (max-width: 768px) {
            font-size: 24px;
        }
    }

    // .block-founder__image

    &__image {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: start;
        flex-direction: column;
        gap: 18px;
        @media (max-width: 992px) {
            position: relative;
            align-items: flex-end;
        }
        img {
            width: 388px;
            height: auto;
            border-radius: 10px;
            @media (max-width: 992px) {
                width: 100%;
            }
        }
    }

    // .block-founder__text

    &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 17px;
        padding: 0px 5px 0px 0px;
        @media (max-width: 992px) {
            width: 100%;
        }
        &::before {
            content: "";
            background: rgba(255, 255, 255, 0.8);
            height: 1px;
            width: 241px;
            @media (max-width: 992px) {
                width: 100%;
            }
        }
    }

    // .block-founder__name

    &__name {
        display: flex;
        flex-direction: column;
        font-weight: 700;
        font-size: 19px;
        line-height: 100%;
        text-transform: uppercase;
        text-align: right;
        color: #fff;
        span {
            line-height: 100%;
            font-size: 13px;
        }
    }

    // .block-founder__right

    &__right {
        flex: 0 1 427px;
        margin: 138px 0px 0px 0px;
        padding: 18px 16px 21px 20px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        background: radial-gradient(30.69% 50% at 50% 50%, #000 0%, rgba(0, 0, 0, 0.21) 100%);
        border-radius: 20px;
        backdrop-filter: blur(10px);
        @media (max-width: 992px) {
            padding: 14px 20px 19px 19px;
            flex: 0 1 auto;
            margin: 0px 0px 0px 0px;
            gap: 15px;
            backdrop-filter: blur(5px);
            background: radial-gradient(0% 50% at 50% 50%, #000 0%, rgba(0, 0, 0, 0.1) 100%);
        }
        p {
            font-weight: 700;
            font-size: 20px;
            line-height: 110%;
            text-align: justify;
            color: #fff;
            @media (max-width: 768px) {
                font-size: 15px;
                line-height: 115%;
            }
        }
    }
}

//========================================================================================================================================================

.block-sponsor {
    .container {
        position: relative;
    }
    // .block-sponsor__bg1

    &__bg1 {
        display: flex;
        width: 100%;
        height: 100%;
        min-height: 400px;
        object-fit: cover;
        @media (max-width: 768px) {
            display: none;
        }
    }

    // .block-sponsor__bg2

    &__bg2 {
        width: 100%;
        height: 100%;
        min-height: 400px;
        object-fit: cover;
        display: none;
        @media (max-width: 768px) {
            display: block;
        }
    }

    // .block-sponsor__content

    &__content {
        position: absolute;
        max-width: 461px;
        bottom: 102px;
        left: -15px;
        @media (max-width: 1100px) {
            left: 36px;
        }
        @media (max-width: 550px) {
            bottom: 83px;
            max-width: 100%;
            right: 15px;
        }
        @media (max-width: 380px) {
            left: 20px;
        }
        .title2 {
            @media (max-width: 768px) {
                font-size: 18px;
            }
        }
        a {
            font-weight: 400;
            font-size: 12px;
            line-height: 110%;
            text-transform: uppercase;
            color: #fff;
            display: flex;
            margin: 5px 0px 0px 0px;
            transition: opacity 0.3s;
            &:hover {
                opacity: 0.7;
            }
            @media (max-width: 550px) {
                margin: 8px 0px 0px 0px;
            }
        }
    }

    // .block-sponsor__text

    &__text {
        font-weight: 700;
        font-size: 12px;
        line-height: 110%;
        text-transform: uppercase;
        color: #fff;
        margin: 0px 0px 17px 0px;
        @media (max-width: 550px) {
            margin: 0px 0px 10px 0px;
        }
    }
}
